@model MoviesOnline.ViewModels.MovieViewModels.MoviesIndexViewModel
@{ 
    ViewBag.Title = "Movie Catalog Index";
}

<div id="movies">
    <h3 style="text-align:center">Movie Catalog</h3>
    <div id="assetsTable" style="margin: auto;
                                 width: 50%;
                                 padding: 10px;">
        <table id="CatalogIndexTable" style="text-align:center">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Genre</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var movie in @Model.movies)
                {
                    <tr class="assetRow jumbotron" style="width:100%">
                        <td style="padding:30px;">
                            <a style="padding:50px;padding-left:5px;" asp-controller="Movie" asp-action="Detail" asp-route-id="@movie.Id">
                                <img src="@movie.ImageUrl" class="imageCell" />
                            </a>
                        </td>
                        <td style="padding:35px;" style="margin-left:70px;">@movie.Title</td>
                        <td style="padding:35px;">@movie.Genre.Name</td>
                        <td style="padding:50px;">@movie.Rating.RatingValue</td>
                       
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
