@model MoviesOnline.ViewModels.MovieViewModels.MoviesIndexViewModel
@{ 
    ViewBag.Title = "Movie Catalog Index";
}

<div id="movies">
    <h3 style="text-align:center">Movie Catalog</h3>
    <div id="assetsTable" style="margin: auto;
                                 width: 50%;
                                 padding: 10px;">
        <table id="CatalogIndexTable" style="text-align:center">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Genre</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var movie in @Model.movies)
                {
                    <tr class="assetRow">
                        <td class="">
                            <a asp-controller="Catalog" asp-action="Detail" asp-route-id="@movie.Id">
                                <img src="@movie.ImageUrl" class="imageCell" />
                            </a>
                        </td>
                        <td>@movie.Title</td>
                        <td>@movie.Genre.Name</td>
                        <td>@movie.Rating.RatingValue</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
